:root {
  --surface-color: #fff;
  --theme-color: rgba(51, 51, 51, 0.99);
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/bgImage.jpg");
  background-size: cover;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}

.App {
  text-align: center;
}
